.Side-bar
  .Side-bar__user-name
    .top-items
      %h3.top-items__name
        = current_user.name
      %ul.top-items__Icons
        %li.top-items__Icon
          = link_to new_group_path, class: "top-items__Icon" do
            = icon('fas', 'edit')
        %li.top-items__Icon
          = link_to edit_user_path(current_user), class: "top-items__Icon" do
            = icon('fas', 'cog')
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Group 
        = link_to '#' do
          .Group__name
            = group.name
          .Group__message
            メッセージはまだありません      