.Side-bar
  .Side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to "#", class: "content" do
          = icon('fas', 'edit', class: "content__btn")
        = link_to edit_user_path(current_user), class: "content" do
          = icon('fas', 'cog', class: "content__btn")
  .Side-bar__group-list
    .group-box
      .group-box__name
        こんにちは
      .group-box__message
        おはよう
      .group-box__name
        好きな食べ物
      .group-box__message
        お米